{% extends "base.html" %}


{% block content %}
  {% include "includes/navigation.html" %}

 <section class="py-5">
  <div class="container">
    <div class="row gx-5">
      <aside class="col-lg-6">
        <div class="border rounded-4 mb-3 d-flex justify-content-center">

          <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" src="{{ product.image.url }}" />

        </div>

      </aside>
      <main class="col-lg-6">
        <div class="ps-lg-3">
          <h4 class="title text-dark">
            {{ product.title }}
          </h4>
          {% if product.in_stock %}
          <div class="d-flex flex-row my-3">
            <span class="text-success ms-2">In stock</span>
          </div>
          {% endif %}

          <div class="mb-3">
            <span class="h5">${{ product.price }}</span>
            <span class="text-muted">/per item</span>
          </div>
          <div class="row">
            <dt class="col-3">Category</dt>
            <dd class="col-9">{{ product.category }}</dd>
          </div>

          <hr />

            <div class="col-md-4 col-6 mb-3">
              <label class="mb-2 d-block">Quantity</label>
              <div class="input-group mb-3" style="width: 170px;">
                <button class="btn btn-white border border-secondary px-3" type="button" id="button-addon1" data-mdb-ripple-color="dark">
                  <i class="fas fa-minus"></i>
                </button>
                <input type="text" class="form-control text-center border border-secondary" placeholder="14" aria-label="Example text with button addon" aria-describedby="button-addon1" />
                <button class="btn btn-white border border-secondary px-3" type="button" id="button-addon2" data-mdb-ripple-color="dark">
                  <i class="fas fa-plus"></i>
                </button>
              </div>
            </div>
          </div>
          <a href="#" class="btn btn-warning shadow-0"> Buy now </a>
          <lable for="select">Qty </lable>
          <select id="select">
            <option value="">1</option>
            <option value="">2</option>
            <option value="">3</option>
          </select>

          <button type="button" id="add-button" value="{{ product.id }}"
                  class="btn btn-primary shadow-0"> <i class="me-1 fa fa-shopping-basket"></i>
            Add to basket
          </button>
      </main>
    </div>
  </div>
</section>
<!-- content -->

<section class="border-top py-4">
  <div class="container">
    <div class="row gx-4">
      <div class="col-lg-8 mb-4">
        <div class="rounded-2 px-3 py-2 ">
          <!-- Pills navs -->
          <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
            <li class="nav-item d-flex" role="presentation">
              <a class="nav-link d-flex align-items-center justify-content-center w-100 active" id="ex1-tab-1" data-mdb-toggle="pill" href="#ex1-pills-1" role="tab" aria-controls="ex1-pills-1" aria-selected="true">Product details</a>
            </li>
          </ul>
          <br>
          <div class="tab-content" id="ex1-content">
            <div class="tab-pane fade show active" id="ex1-pills-1" role="tabpanel" aria-labelledby="ex1-tab-1">
              <p>
                {{ product.description}}
              </p>
            </div>
          </div>

        </div>
      </div>
      </div>
  </div>
  </section>

  <script>
   $(document).on('click', '#add-button', function (e) {
       e.preventDefault();
       $.ajax({
           type: 'POST',
           url: '{% url "basket:basket_add" %}',
           data: {
               productid: $('#add-button').val(),
               productqty: $('#select option:selected').text(),
               csrfmiddlewaretoken: "{{ csrf_token }}",
               action: 'post'
           },
           success: function (json) {
               document.getElementById("basket-qty").innerHTML = json.qty
           },
           error: function (xhr, errmsg, err) {}
       });
   })


  </script>

{% endblock %}